@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Nanum+Gothic&family=Raleway&display=swap');

/* Main Container */
.main__container {
    margin-top: 2em;
    display: flex;
}

.customer__activities {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding: 40px;
}

.customer__transactions {
    width: 40%;
    height: 500px;
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    overflow: scroll;
    margin: auto;
}

.activity__box {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 10px; */
    /* background-color: rgb(62, 88, 115); */
    border-color: transparent;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

.activity__box img {
    width: 50%;
    height: 150px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.activity__box button {
    width: 40%;
    height: 50px;
    font-family: "Raleway";
    font-size: 18px;
    color: rgb(62, 88, 115);
    font-weight: 700;
    border-color: transparent;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
}

.transfer__money {
    border-top-left-radius: 10px;
}

.buy__airtime-data {
    border-bottom-left-radius: 10px;
}

.get__loan {
    border-top-right-radius: 10px;
}

.investments {
    border-bottom-right-radius: 10px;
}


/* TRANSACTIONS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}


/* Mobile */
@media all and (max-width: 540px) {
    .main__container {
        flex-direction: column;
    }

    .customer__activities {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    padding: 40px;
}

.customer__transactions {
    width: 90%;
    height: 500px;
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    overflow: scroll;
    margin: auto;
}
}